body
{
	background-color: lightblue;
	font-family: sans-serif;
	width: 700px;
	margin: 0 auto;
}

#header
{
	width: 100%;
	text-align: center;
	margin: 5px 0;
}

#submit-button
{
	width: 100px;
}

#options label
{
	width: 100px;
	display: block;
    float: left;
}

#options
{
	width: 100%;
}

.options-col
{
	float: left;
	width: 50%;
}